.fl-r {
  float: right!important;
}

.flex-row{
  display: flex;
  align-items: center;
}

.shadow {
  z-index: $main-transparent-shadow-index;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  background: transparent;

  &--dark {
    background: rgba(0, 0, 0, 0.3);
    z-index: $main-dark-shadow-index;
  }

  &.is-active {
    display: block;
  }
}



