.content-block__wrapper-filters-and-results {
    @extend %row-flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 17px;

    .content-block__filters {
        width: 270px;
        background: $content-block__filters_background;
        padding: 20px;
        box-sizing: border-box;

        .content-block__filters-text {
            @include text_Roboto(14px, $main-dark-text-color);
            font-weight: bold;
        }

        .content-block__filter-item-volume,
        .content-block__filter-item-manufacturer,
        .content-block__filter-item-price,
        .content-block__filter-item-rating,
        .content-block__filter-item-type {
            @extend %column-flex;
            justify-content: flex-start;
            align-items: flex-start;

            width: 100%;

            height: auto;
            padding: 0 0 16px 0;

            position: relative;
        }

        .filter-item-volume__menu-volume,
        .filter-item-manufacturer__menu-manufacturer,
        .filter-item-price__menu-price,
        .filter-item-rating__menu-rating,
        .filter-item-type__menu-type {
            @extend %row-flex;
            justify-content: space-between;
            align-items: center;

            cursor: pointer;
            width: 100%;
            height: 50px;

            .content-block__filter-name-text {
                @include text_OpenSans( 14px, $main-color-2);
                font-weight: 800;
                line-height: normal;

                cursor: pointer;
            }

            .block-content__svg {
                @extend %row-flex;
                justify-content: center;
                align-items: center;

                width: 22px;
                height: 22px;
                cursor: pointer;

                &:hover {
                    background: $main-color-1;
                    border-radius: 100px;
                }

                transform: rotate(180deg);
            }

            &.active {
                .block-content__svg {
                    transform: rotate(0deg);
                }
            }
        }

        .menu-volume__items-menu,
        .menu-manufacturer__items-menu,
        .menu-price__items-menu,
        .menu-rating__items-menu,
        .menu-type__items-menu { display: none;}

        .menu-volume__items-menu.active,
        .menu-manufacturer__items-menu.active,
        .menu-price__items-menu.active,
        .menu-rating__items-menu.active,
        .menu-type__items-menu.active {
            @extend %column-flex;
            justify-content: flex-start;
            align-items: flex-start;

            width: 100%;

            .items-menu__one-item-menu {
                @extend %row-flex;
                justify-content: space-between;
                align-items: center;
                height: 30px;
                width: 100%;

                .items-menu__count-posters {
                    @include text_Roboto( 14px, $secondary-text-color);
                    padding-left: 16px;
                }

                .items-menu__name-item-menu {
                    height: 30px;

                    //border-top: 1px solid $block-content__filter-item_border-color;

                    @extend %row-flex;
                    justify-content: space-between;
                    align-items: center;

                    width: 100%;

                    input {
                        position: absolute;
                        z-index: -1;
                        opacity: 0;
                        //margin: 10px 0 0 20px;

                        & + label {
                        position: relative;
                        padding: 0;
                        cursor: pointer;

                        width: 100%;
                        padding-left: 40px;
                        box-sizing: border-box;

                        @include text_Roboto( 14px, $main-dark-text-color);
                        font-weight: normal;
                        line-height: 19px;

                        &:before,
                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 18px;
                            height: 18px;
                            transition: .2s;

                            background: $main-color-1;
                            border: $border;
                            box-sizing: border-box;
                            border-radius: 3px;
                        }
                    }

                    &:checked + label:before,
                    &:checked + label:after {
                        background-image: url("../images/static/check.png");
                        background-color: $items-menu__name-item-menu_checked_background;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 80%;

                        border: $border;
                        box-sizing: border-box;
                        border-radius: 3px;
                        border-radius: 3px;
                        }

                        //&:focus + label:before {
                        //  box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
                        //}
                    }
                }
            }
        }

        .menu-price__items-menu.active {
            @extend %row-flex;
            flex-direction: row;
            justify-content: space-between;

            width: 100%;
            height: 32px;

            .menu-price__one-item-menu {
                width: 75px;
                height: 32px;

                border: $border;
                box-sizing: border-box;
                border-radius: 1px;

                &::placeholder {
                    @include text_Roboto(14px, $secondary-text-color);
                    padding: 0 10px;
                    box-sizing: border-box;
                }
            }

            .menu-price__text {
                @include text_Roboto(14px, $main-text-color);
                padding: 0 10px;
                line-height: 32px;
            }

            .menu-price__btn-pice-interval {
                width: 40px;
                height: 32px;

                background: $menu-price__btn-pice-interval_background;
                border-radius: 1px;

                margin-left: 10px;

                @include text_Roboto(14px, $main-light-text-color);
                font-weight: bold;
            }
        }
    }

    .content-block__results-products {
        width: calc(100% - 270px);
        height: auto;

        margin-left: 20px;

        .results-products__header-results-products {
            @extend %row-flex;
            justify-content: space-between;
            width: 100%;
            height: 40px;

            background: $results-products__header-results-products_background;
            box-shadow: $shadow; // 0px 1px 8px rgba(0, 0, 0, 0.05);

            padding: 0 20px;
            box-sizing: border-box;

            .header-results-products__sort-results {
                @extend %row-flex;
                justify-content: flex-start;
                width: auto;
                height: 100%;

                .results-products__header-text {
                    @include text_Roboto (18px, $main-dark-text-color);
                    font-weight: bold;
                }

                .sort-shops__name-block-text {
                    @include text_Roboto (14px, $main-dark-text-color);
                }

                .sort-results__btn-sort-popular,
                .sort-results__btn-sort-rating,
                .sort-results__btn-sort-highest,
                .sort-results__btn-sort-lowest {
                    @include text_Roboto (14px, $link-text-color);
                    padding-left: 20px;
                    padding-right: 20px;
                    border-right: $sort-results__btn-sort_border;

                    &.active  {
                        @include text_Roboto (14px, $main-dark-text-color);
                    }
                }

                /*--- Dropdown menu ---*/
                ul {
                    position: absolute;
                    margin: 0;
                    list-style:none;
                    background: $drop-down-menu-ul1_background;
                    box-shadow: $drop-down-menu-ul1_shadow;

                    li {
                    display: inline-block;
                    padding: 5px 10px;
                    position: relative;

                    &:hover > ul {
                        display: block;
                    }
                    }

                    ul {
                        position: absolute;
                        width: 100%;
                        display: none;
                        margin: 0;
                        padding: 5px 10px;

                        li {
                            display: block;
                            width: 100%;
                        }

                        ul {
                            position: absolute;
                            top: 0;
                            left: 100%;
                        }

                        a {
                            color: $main-light-text-color;
                            text-decoration: none;

                            &:hover {
                                border-bottom: $drop-down-menu-link_border-hover;
                            }
                        }
                    }
                }
                /*---------------------*/

                .header__menu-region {
                    position: relative;
                    width: auto;
                    background: $drop-down-menu-ul1_background;
                    // border: 1px solid #C4C4C4;
                    box-sizing: border-box;
                    box-shadow: none;

                    .menu-region__item-menu-region {
                      padding: 0;
                      width: 100%;

                      .menu-region__submenu-region {
                        height: 400px;
                        overflow-y: auto;

                        width: inherit;
                        box-sizing: border-box;

                        border-radius: 4px;

                        &::-webkit-scrollbar-track {
                            -webkit-box-shadow: $scrollbar_shadow;
                            border-radius: 10px;
                        }
                        &::-webkit-scrollbar {
                            width: 3px;
                            background-color: $scrollbar_background;
                        }
                        &::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            -webkit-box-shadow: $scrollbar_shadow;
                            background-color: $scrollbar-thumb_background;
                        }
                      }

                      .item-menu-region__wrapper-value {
                        @extend %row-flex;
                        justify-content: space-between;
                        align-items: center;

                        position: relative;
                        padding: 0;

                        width: 100%;
                        height: 40px;
                        box-sizing: border-box;

                        .item-menu-region__location-svg {
                          display: block;
                          position: static;

                          svg path{
                            fill: $menu-region__location-svg_color;
                          }
                        }

                        .item-menu-region__arrow-svg,
                        .item-menu-region__value-text {
                          display: none;
                        }
                      }

                      .item-menu-region__value-text {
                        @include text_Roboto(14px, $link-text-color);
                      }

                      .submenu-region__item {
                        width: 100%;
                        box-sizing: border-box;
                      }

                      .submenu-region__item-text {
                        @include text_Roboto(14px, $secondary-text-color);
                      }

                      &:hover {
                        // .item-menu-region__arrow-svg {
                        //   transform: rotate(-180deg) translateY(0);
                        // }
                      }
                    }

                    .menu-region__submenu-region {
                        width: 200px!important;
                        height: 350px;
                        overflow-y: auto;
                        z-index: 5;
                        right: -20px;
                    }
                }
            }

            .header-results-products__view-display-results {
                @extend %row-flex;
                justify-content: flex-start;
                width: auto;
                height: 100%;

                .view-display-results__btn-type-list,
                .view-display-results__btn-type-tile {
                    @extend %row-flex;
                    cursor: pointer;

                    svg rect {
                        fill: $view-display-results__btn-type_svg_back;
                    }

                    &.active {
                        svg rect {
                            fill: $view-display-results__btn-type_svg-active_back;
                        }
                    }
                }

                .view-display-results__btn-type-tile {
                    margin-left: 10px;
                }
            }

        }

        .results-products__seo-text {
            margin-top: 18px;
            @include text_OpenSans( 18px, $main-dark-text-color);
        }

        .results-products__wrapper-results-products {
            display: none;

            width: 100%;
            height: auto;

            margin-top: 18px;

            .results-products__one-product {
                background: $one-product_background;
                border: 2px solid transparent;
                box-sizing: border-box;
                box-shadow: $one-product_shadow;
                border-radius: 4px;

                position: relative;

                .one-product__top-product {
                    display: none;
                }

                &.top-product {
                    border: $one-product__top-product_border;

                    .one-product__top-product {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;

                        width: 60px;
                        height: 20px;
                        text-align: center;
                        padding: 4px 0;

                        background: $one-product__top-product-text_background;
                        z-index: 1;

                        .one-product__top-product-text {
                            @include text_OpenSans( 12px, $one-product__top-product-text_color);
                            text-transform: uppercase;
                            font-weight: bold;
                            text-align: center;
                        }
                    }
                }

                &:nth-child(3n+3) {
                    margin-right: 0;
                }

                .one-product__link-on-template-BC-product {
                    text-decoration: none;
                    cursor: pointer;

                    display: block;
                    width: 100%;
                    height: auto;

                    .one-product__wrapper-img {
                        position: relative;
                        width: 100%;

                        border-top-left-radius: 16px;
                        border-top-right-radius: 16px;

                        &::before {
                            content: "";
                            display: block;
                            padding-top: 100%; /* С помощью этого padding мы задаем высоту равную ширине блока */
                        }

                        .one-product__img {
                            position: absolute;

                            height: 100%;
                            width: 100%;

                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            //background: url(images/bg.jpg) no-repeat center center; /* Задаем фон, если требуется */
                            background-size: cover; /* Растягиваем фон под размеры блока, если требуется */
                            background-position: center;
                            background-repeat: no-repeat;

                            border-top-left-radius: 16px;
                            border-top-right-radius: 16px;
                        }
                    }

                    .one-product__name-product {
                        width: 100%;
                        height: 43px;
                        overflow: hidden;

                        margin-top: 16px;

                        .name-product__text {
                            @include text_Roboto (18px, $one-product__name-product__text_color);
                            text-align: center;
                        }
                    }
                }

                .one-product__price-block {
                    width: 100%;
                    height: auto;

                    @extend %row-flex;

                    margin-top: 10px;

                    .price-block__price-interval {
                        @include text_Roboto (20px, $one-product__price-block__price-text_color);
                        font-weight: bold;
                    }

                    .price-block__text {
                        @include text_Roboto (14px, $one-product__price-block__text_color);
                        margin: 0 5px;
                    }
                }

                .one-product__btn-compare-prices,
                .one-product__btn-details {
                    width: 100%;
                    height: 40px;

                    background: $btn_back-color1;
                    border-radius: 2px;

                    margin-top: 10px;

                    @extend %row-flex;

                    .one-product__btn-text {
                    @include text_Roboto (14px, $btn_text-color);
                    font-weight: bold;
                    text-transform: uppercase;
                    }
                }

                .one-product__btn-details {
                    background: $btn_back-color3;
                }

                .one-product__number-of-sentences {
                    width: auto;
                    height: auto;

                    margin-top: 5px;

                    text-align: center;

                    .number-of-sentences__text {
                        @include text_Roboto (14px, $one-product__number-of-sentences__text_color);
                        text-align: center;
                        text-transform: lowercase;
                    }
                }

                .one-product__rating {
                    width: 50%;
                    float: left;
                    text-align: left;

                    margin-top: 20px;

                    @extend %row-flex;
                    justify-content: flex-start;

                    .rating__svg {
                        width: 20px;
                        height: 20px;
                    }

                    .rating__text {
                        @include text_Roboto (14px, $one-product__rating__text_color);
                        text-align: center;
                        padding-left: 5px;
                    }
                }

                .one-product__wrapper-btn-add-favorites {
                    width: 50%;
                    float: right;
                    text-align: right;

                    margin-top: 20px;

                    @extend %row-flex;
                    justify-content: flex-end;

                    .one-product__btn-add-favorites {
                        width: 20px;
                        height: 20px;

                        cursor: pointer;

                        &.active {
                            svg path {
                             fill: $one-product__btn-add-favorites_active_color!important;
                            }
                        }
                    }
                }
            }

            &.tile {
                @extend %row-flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;

                .results-products__one-product {
                    width: calc((100% - 20px * 2) / 3);
                    height: 480px;

                    margin-right: 20px;
                    margin-bottom: 20px;

                    padding: 25px 20px 15px;
                    box-sizing: border-box;

                    .one-product__wrapper-info-about-product,
                    .one-product__wrapper-price-btn-sentences {
                        display: block;
                    }

                    .one-product__location,
                    .one-product__about-product,
                    .btn-add-favorites__text {
                        display: none;
                    }

                    &:nth-child(3n+3) {
                        margin-right: 0!important;
                    }
                }
            }

            &.list {
                @extend %column-flex;
                justify-content: flex-start;
                align-items: flex-start;

                .results-products__one-product {
                    @extend %row-flex;
                    justify-content: flex-start;
                    align-items: flex-start;

                    width: 100%;
                    height: 140px;

                    margin-right: 0;
                    margin-bottom: 20px;
                    padding: 10px 20px 40px 20px;
                    box-sizing: border-box;

                    .one-product__link-on-template-BC-product {
                        text-decoration: none;
                        cursor: pointer;

                        display: block;
                        width: auto;
                        height: 100%;

                        .one-product__wrapper-img {
                            position: relative;
                            width: 100px;
                            height: 100px;

                            border-top-left-radius: 0;
                            border-top-right-radius: 0;

                            &::before {
                                content: "";
                                display: block;
                                padding-top: 100%; /* С помощью этого padding мы задаем высоту равную ширине блока */
                            }

                            .one-product__img {
                                position: absolute;

                                height: 100%;
                                width: 100%;

                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                                //background: url(images/bg.jpg) no-repeat center center; /* Задаем фон, если требуется */
                                background-size: cover; /* Растягиваем фон под размеры блока, если требуется */
                                background-position: center;
                                background-repeat: no-repeat;

                                border-top-left-radius: 0;
                                border-top-right-radius: 0;
                            }

                        }

                        .one-product__name-product {
                            text-align: left;

                            width: 100%;
                            height: auto;
                            overflow: hidden;

                            margin-top: 16px;

                            .name-product__text {
                                @include text_Roboto (18px, $one-product__name-product__text_color);
                                text-align: left;
                            }
                        }
                    }

                    .one-product__location {
                        display: block;

                        .location__text {
                            @include text_Roboto(12px, $one-product__location__text_color);
                            line-height: 18px;
                        }
                    }

                    .one-product__about-product {
                        display: block;
                        height: 32px;
                        overflow: hidden;

                        .about-product__text {
                            @include text_Roboto(12px, $one-product__about-product__text_color);
                            line-height: 16px;
                        }
                    }

                    .one-product__wrapper-info-about-product {
                        width: calc(100% - 100px - 200px - 40px);

                        margin-left: 20px;
                    }

                    .one-product__wrapper-price-btn-sentences {
                        width: 200px;
                        margin-left: 20px;
                    }

                    .one-product__rating {
                        position: absolute;
                        left: 140px;
                        bottom: 10px;
                        width: auto;
                    }

                    .one-product__wrapper-btn-add-favorites {
                        position: absolute;
                        left: 220px;
                        bottom: 10px;
                        width: auto;

                        .btn-add-favorites__text {
                            display: block;
                            @include text_Roboto(14px, $one-product__btn-add-favorites_text_color);
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }
}
