.button {
  font-family: Roboto;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-transform: uppercase;
  background: $button-default-bg;
  border-radius: 2px;
  padding: 10px 30px;
  text-align: center;
  color: #fff;
  width: 100%;
  transition: all .3s ease-in;

  &:hover {
    background-color: lighten($button-default-bg, 8);
  }

  &--search {
    background: $button-green-bg;
    border-radius: 0;

    &:hover {
      background-color: lighten($button-green-bg, 8);
    }
  }

  &--category {
    height: 100%;
    background: $button-green-bg;
    position: relative;
    border-radius: 0;

    .is-active > & {
      background-color: lighten($button-green-bg, 8);
    }

    &:hover {
      background-color: lighten($button-green-bg, 8);
    }

    @media screen and (max-width: 1023px){
      display: none;
    }
  }

  &--category-tab {
    height: 100%;
    background: $button-green-bg;
    position: relative;
    border-radius: 0;
    display: none;
    padding: 0;

    .is-active > & {
      background-color: lighten($button-green-bg, 8);
    }

    &:hover {
      background-color: lighten($button-green-bg, 8);
    }

    @media screen and (max-width: 1023px){
      display: block;
    }
  }

  &--more {
    background-color: $button-orange;

    &:hover {
      background-color: lighten($button-orange, 8);
    }
  }

  &--submit-prices {
    max-width: 40px;
    background: #03996C;
    border-radius: 1px;
    text-align: center;
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 10px;

    &:hover {
      background: lighten(#03996C, 10);
    }
  }

  &__icon {
    margin: 0 15px;
    display: block;
  }
}
