.shadow {
  z-index: $main-shadow-index;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  background: transparent;

  &.is-dark {
    background: rgba(0, 0, 0, 0.3);
    z-index: $main-shadow-index;
  }

  &.is-active {
    display: block;
  }
}