.content-block .content-block__wrapper-content {
    .content-block__wrapper-for-template-product-card .content-block__main-info-product .main-info-product__table-main-specifications .table-main-specifications__row .table-main-specifications__column-value-field .column-value-field__value-field-text.active {
        border: 2px solid $column-value-field__value-field-text_active_bodred-color;
        box-sizing: border-box;
        border-radius: 1px;
    }

    .main-info-product__form-add-basket {
        padding-top: 20px;
    }

    .main-info-product__wrapper-operation-add-basket {
        @extend %row-flex;
        justify-content: space-between;
        width: calc(100% - 120px);

        margin-top: 30px;

        .main-info-product__number-products {
            @extend %row-flex;
            justify-content: space-between;

            width: 100px;
            height: 30px;

            border: $border;
            box-sizing: border-box;
            border-radius: 1px;

            margin-right: 5px;

            .main-info-product__btn-minus-product, 
            .main-info-product__btn-plus-product {
                width: 30px;
                height: 100%;
                @extend %row-flex;
            }

            .main-info-product__number-products-text {
                @include text_Roboto(14px, $main-dark-text-color);

                width: 40px;
                border: none;
                background-color: inherit;
                text-align: center;
            }
        }

        .main-info-product__price {
        width: 150px;
        text-align: right;
        padding-right: 30px;

            .main-info-product__price-text {
                @include text_Roboto(14px, $main-dark-text-color);
            }
        }

        .main-info-product__btn-add-in-basket {
            width: 200px;
            height: 40px;

            background: $btn_back-color3;
            border-radius: 2px;

            text-align: center;

            .main-info-product__btn-add-in-basket-text {
                @include text_Roboto(14px, $main-light-text-color);
                line-height: 40px;
                font-weight: bold;
                text-transform: uppercase;
            }

            &.no-active {
                background: $btn_back_color4_noactive;
                border-radius: 2px;
            }
        }

        .main-info-product__existence-text {
            @include text_Roboto(12px, $secondary-text-color);
        }
    }

    .content-block__wrapper-tabs-for-product-card {
        width: 100%;
        height: auto;

        margin-top: 30px;

        .tab-content__tab-specification {
            @extend %row-flex;
            justify-content: flex-start;
            align-items: flex-start;

            width: 100%;
            height: 100%;

            .tab-specification__table-specifications {
                width: 30%;

                padding-right: 30px;
                border-right: 1px solid $tab-specification__table-specifications_border_color;
                box-sizing: border-box;

                .tab-specification__header-table-specifications {
                    @include text_Roboto (18px, $main-text-color);
                    line-height: 30px;
                }

                .table-specifications__row {
                    width: 100%;
                    height: 24px;

                    @extend %row-flex;
                    justify-content: space-between;

                    padding-top: 10px;

                    .table-specifications__column-name-field {
                        width: auto;
                        height: 100%;

                        .table-specifications__name-field-text {
                            @include text_Roboto(14px, $main-text-color);
                            font-weight: bold;
                            line-height: 19px;
                        }
                    }

                    .table-specifications__column-value-field {
                        @extend %row-flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;

                        margin-left: 10px;

                        .table-specifications__value-field-text {
                            @include text_Roboto(14px, $main-text-color);
                            line-height: 22px;
                            text-align: center;
                        }
                    }
                }
            }

            .tab-specification__seo-text-specification {
                width: 70%;

                padding-left: 30px;
                box-sizing: border-box;

                .seo-text-specification__header-text {
                    @include text_Roboto(18px, $main-dark-text-color);
                    line-height: 24px;
                }

                .seo-text-specification__main-text {
                    @include text_Roboto(14px, $main-dark-text-color);
                    line-height: 23px;

                    margin-top: 10px;
                }
            }
        }

        .content-block__wrapper-tabs {
            @extend %row-flex;
            justify-content: flex-start;

            .content-block__tab-name {  
                width: 120px;
                height: 41px;
                
                @include text_Roboto (18px, $link-text-color);
                font-weight: bold;
                line-height: 41px;
                text-align: center;

                &.active { 
                    background: $content-block__tab-name_active__background; 
                    @include text_Roboto (18px, $main-dark-text-color);
                    font-weight: bold;
                    line-height: 41px;
                    text-align: center;
                }
            }
        }  

        .content-block__tab-content { display: none; }

        .content-block__tab-content.active { 
            display: block; 
            background: $content-block__tab-content_active_background; 

            box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
            border-radius: 4px;

            padding: 30px 20px 20px 20px;
            box-sizing: border-box;

            .tab-content__wrapper-main-rating,
            .tab-content__wrapper-my-rating {
                @extend %row-flex;
                justify-content: flex-start;
                width: 100%;

                .tab-content__wrapper-main-rating-stars,
                .tab-content__wrapper-my-rating-stars {
                    @extend %row-flex;
                    justify-content: flex-start;
                    width: auto;

                    .tab-content__my-rating-star.one.active,
                    .tab-content__my-rating-star.two.active,
                    .tab-content__my-rating-star.three.active,
                    .tab-content__my-rating-star.four.active,
                    .tab-content__my-rating-star.five.active {
                        svg path {
                            fill: green;
                        }
                    }
                }            

                .tab-content__rating-text {
                    padding-left: 20px;
                }

                .tab-content__main-rating-star,
                .tab-content__my-rating-star {
                    padding-left: 20px;
                }
            }

            .tab-content__my-rating-header-text {
                @include text_Roboto (16px, $main-text-color);
                font-weight: 500;
                text-align: left;
                padding: 20px 0;
            } 
            
            .tab-content__rating-text {
                @include text_Roboto(24px, $main-text-color);
                font-weight: 500;
                text-align: center;
                letter-spacing: -0.02em;
            }
        }
    }    
} 